build==1.1.1
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
idna==3.6
numpy==1.26.0
opencv-python==4.8.1.78
packaging==23.2
pyproject_hooks==1.0.0
requests==2.31.0
urllib3==2.2.1
flask==3.0.2